* {
  padding: 0;
  margin: 0;
}

/**Background setting up**/
#bg_image {
  display: table;
  background-image: url(images_css/solo_cartoon.png);
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  opacity: 0.2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
}

/**position and text style**/
.text_style {
  position: absolute; /**Background image overlaying**/
  top: 8px;
  right: 8px%;
  color: #FDB827;
  font-family: 'Fantasy', sans-serif;
  text-shadow: 3px 3px #21209C;
}

.avatar {
  top: 10%;
  left: 22%;
  position: absolute;
}
